.sfxpx-phone-item-wrap .howto .sfxpx-field, .sfxpx-phone-item-wrap .wp-picker-container{
    display:block;
    float:none;
    width:100%;
    margin:7px auto;
}
.sfxpx-phone-item-wrap .howto .sfxpx-color-field{
    float: left;
}
.nav-menus-php .sfxpx-phone-item-wrap .howto span{
    float:none;
    margin:auto;
    display:block;
}
.sfxpx-phone-item-wrap:after{
    content:'';
    display:block;
    clear:both;
}
.nav-menus-php .sfxpx-phone-item-wrap .howto .wp-picker-open+.wp-picker-input-wrap{
    display: inline-block;
    float:none;
}
.accordion-container .howto .wp-picker-container .button{
    width:auto;
}