.main-navigation ul li a.fa:before,
.secondary-navigation ul li a.fa:before{
    display: inline-block;
}
.main-navigation ul li a.fa-phone:before{
    content: "\f095";
}
.sfxtp-phone.fa:before{
    display: none;
}
.sfxtp-phone i.fa{
    float:left;
    margin: -5px 7px 0 0;
    font-size:1.6em;
    display: inline-block;
    vertical-align: middle;
}
